.endGame{
color: red;
}

.fight{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
}

[data-view="fight-screen"]{
    display: flex;
    justify-content: space-around;
    height: 400px;
    align-items: center;
}

 .foe{
    background-color: orangered; 
    width: -moz-available;
    text-align: center;
    height: 160px;
  
 }
 .hero{
     background-color: blueviolet;
     width: -moz-available;
     text-align: center;
     height: 160px;
     
 }