<form action="/index.php?state=save" method="POST">
    <fieldset class="hero">
        <h3>Your Hero</h3>
        <input type="text"  name="Hero[]" placeholder="Name..." required>
        <label >Select class : </label>
        <input type="radio" value="Warrior" name="Hero[]" required><label >Warrior</label>
        <input type="radio" value="Wizard" name="Hero[]"required ><label >Wizard</label>
        <!--<input type="number" value="hp1" name="Hero[]" placeholder="HP" required>
        <input type="number" value="mp1" name="Hero[]" placeholder="MP" required>-->
    </fieldset>
    
    <input type="submit" value=" Walid">

</form>